<div class="row ">
  <div class="col-md-8">
    <h4>4. Leiens varighet</h4>
    <hr>
  </div>
</div>
<div class="row ">
  <div class="col-md-12">
    <div class="form-group">
      <strong>Tidsubestemt leie?</strong>
      <%= form_checkbox(@lease.rent_indefinite) %>
    </div>

    <div class="row">
      <div class="col">
      <p>
        <strong>
          Startdato for utleie:
        </strong>
        <%= nor_date(@lease.rent_start_date) %>
      </p>
      </div>
    </div>
    Hvis ikke tidsubestemt:
    <div class="col row">
      <p>
        <strong>
          Utleien avsluttes:
        </strong>
        <%= nor_date(@lease.rent_stop_date) %>
      </p>
    </div>
  </div>
</div>
<br>
