<div class="row">
  <div class="col-md-5">
    <h3>1. Partene i avtalen</h3>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h5>Leietaker</h5>
    <p><strong>Leietaker:</strong> <%= tenant_name(@property_unit) %></p>
    <p><strong>Epost:</strong> <%= tenant_email(@property_unit) %></p>
    <p><strong>Telefonnummer:</strong> <%= tenant_phone(@property_unit) %></p>
  </div>
  <div class="col-md-6">
    <h5>Utleier</h5>
    <p><strong>Utleier:</strong> Utleiers navn</p>
    <p><strong>Epost:</strong> <%= landlord_email(@property_unit.user_id) %></p>
    <p><strong>Telefonnummer:</strong> 123 45 678</p>
  </div>
</div>
<br>
