<div class="row">
  <div class="col-md-8">
    <h4>6. Utkastelse og særlig tvangsgrunnlag</h4>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
<p>Leieren godtar at utkastelse (tvangsfravikelse) kan kreves hvis leien ikke blir betalt innen 14 dager etter at skriftlig varsel
i henhold til tvangsfullbyrdelsesloven § 4-18 er sendt. Varselet kan sendes tidligst på forfallsdagen,
jfr. samme lovs § 13-2, 3.ledd (a). Det skal i varselet framgå at utkasting vil bli krevd dersom kravet ikke blir oppfylt,
og at utkasting kan unngås dersom leien blir betalt med renter og kostnader før utkastelsen blir gjennomført.
Leieren godtar at utkastelse kan kreves når leietiden er løpt ut, jfr. § 13-2, 3.ledd (b) i tvangsfullbyrdelsesloven.</a>
  </div>
  </div>
  <br>
