<div class="container">
  <div class="main-background main-container">

  <h4>Ny eiendom</h4>
  <hr>
    <div class="row">
      <div class="col-md-12">
      <%= render 'form', property: @property %>

      <%= link_to 'Tilbake', properties_path, class: "btn btn-outline-secondary btn-sm" %>
      </div>
    </div>
  </div>

</div>
