
<h1>Ny eiendom</h1>
<hr>
  <div class="row">
    <div class="col-md-12">
    <%= render 'form', property: @property %>

    <%= link_to 'Tilbake', properties_path, class: "btn btn-light" %>
    </div>
  </div>