  <h2> <%= Property.find(@property_unit.property_id).address %><span class="small">Enhet <%= @property_unit.unit_number %></span></h2>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <%= render 'form', property_unit: @property_unit %>

      <%= link_to 'Tilbake', property_property_unit_path(@property), class: "btn btn-outline-secondary btn-sm" %>

    </div>
  </div>
