<div class="container">
  <div class="breadcrumbs">
    <%= render_breadcrumbs %>
  </div>
  <div class="main-background main-container">

    <h4>Registrer ny enhet</h4>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <%= render 'form', property_unit: @property_unit %>

        <%= link_to 'Tilbake', property_path(@property), class: "btn btn-outline-secondary btn-sm" %>

      </div>
    </div>
  </div>
</div>
