
<p>Velkommen, <%= @email %></p>
<p>Du kan bekrefte kontoen din ved &aring; trykke p&aring; linken under:</p>
<p><%= link_to 'Bekreft konto', confirmation_url(@resource, confirmation_token: @token) %></p>
