<p>Hei, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Vi kontakter deg for &aring; gj&oslash;re deg kjent med at din epost n&aring; er forandret til <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Vi kontakter deg for &aring; gj&oslash;re deg kjent med at din epost n&aring; er forandret til <%= @resource.email %>.</p>
<% end %>
