<p>Hei, <%= @resource.email %>!</p>

<p>Du kan skifte passordet ditt ved &aring; f&oslash;lge linken under</p>

<p><%= link_to 'Endre passord.', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>PS: Ignorer denne mailen hvis du ikke nylig har opprettet kontoen, og ikke har bedt om &aring; skifte passord.</p>
<p>Ditt passord vil ikke oppdateres f&oslash;r du trykker p&aring; linken over, og lager et nytt et.</p>
