<p>Hei, <%= @resource.email %>!</p>

<p>Din konto har blitt l&aring;st, grunnet flere mislykkede innloggingsfors&oslash;k.</p>

<p>Vennligst klikk p&aring; linken under for &aring; &aring;pne opp kontoen igjen:</p>

<p><%= link_to 'L&aring;s opp konto', unlock_url(@resource, unlock_token: @token) %></p>
