<div class="container">
  <div class="breadcrumbs">
    <%= render_breadcrumbs %>
  </div>
  <div class="main-background main-container">

    <h4>Registrer Leiekontakt</h4>
    <hr>
    <div class="row">
      <div class="col-md-12">
      <%= render 'form', lease: @lease %>

        <%= link_to 'Tilbake', property_property_unit_path(@property, @property_unit), class: "btn btn-outline-secondary btn-sm" %>

      </div>
    </div>
  </div>
</div>
