/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

 body {
  color: yellow;
  background-color: #f2f2f2 !important;
  font-family: 'Open Sans';
}

h1 h2 {
  font-family: 'Open Sans';
  font-size: 40px !important;
  font-weight: 600 !important;
  color: #333;
}


.navbar {
  font-family: 'Source Sans Pro', sans-serif;
  .brand-text{
    color: #222;
  }
  .brand-text:hover{
    text-decoration: none;
  } 
}

.upper-navbar{
  min-height: 6em;
  padding-top: 50em;
  border-bottom: 3px solid #e5e5e5;
  background-color: #fff;
}
.lower-navbar{
  background-color: #fff;
  border-bottom: 3px solid #e5e5e5;
  margin-bottom: -2em !important;
}
.nav-link {
  color: #333 !important;
}
.nav-link:hover {
  color: #666 !important;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(247,32,78) !important;
  background-color: #000 ;
}
.custom-toggler .navbar-toggler-icon{width: 18px!important;}
.custom-toggler:hover{border-color: rgb(255,255,255); background-color: #f76a88;}
@media only screen and (max-width: 760px) { #logo_custom{width: 40%;}}
                          
.mid-box {
  border: 1px solid #666;
  margin: 5px;
  margin-bottom: 10px;
  height: 100%;
}
.mid-box:hover {
  background-color: #f2f2f2;
}


.main-container {
  background-color: #fff;
  padding: 1em;
  border: 1px solid #e5e5e5;
}