<p>Hei, <%= @resource.email %>!</p>

<p>Du kan skifte passordet ditt ved å følge linken under</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>PS: Ignorer denne mailen hvis du ikke nylig har opprettet kontoen, og ikke har bedt om å skifte passord.</p>
<p>Ditt passord vil ikke oppdateres før du trykker på linken over, og lager et nytt et.</p>
