<p>Hei, <%= @resource.email %>!</p>

<p>Noen har bedt om &aring; skifte passordet ditt. Hvis det er deg, kan du gj&oslash;re det ved &aring; trykke p&aring; linken under.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
