<p>Hei, <%= @resource.email %>!</p>

<p>Din konto har blitt låst, grunnet flere misslykkede innloggingsforsøk.</p>

<p>Vennligst klikk på linken under for å åpne opp kontoen igjen:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
